{% block body %}
<html>
<head>
<style type="text/css">
          #iki{
            background-color:yellow;
            position:absolute;
            right:30px;
            top:50px;
          }
          #uc{
            background-color:yellow;
            position:absolute;
            right:30px;
            top:70px;
          }
    </style>
</head>
<body>
<div class="albums-container container-fluid">
<a href="/logout/" id="iki"><font color="red">logout!</font></a>
<a href="/password_change/" id="uc"><font color="red">Change Password</font></a>
        {% if all_magazines %}
            {% for magazine in all_magazines %}
                <div class="col-sm-4 col-lg-2" >
                    <div class="thumbnail" style="min-height:300px">
                        <div class="caption">
                            <h2>{{ magazine.magazine_name }}</h2>
                            <h4>{{ magazine.publisher_name }}</h4>
                            <h4>{{ magazine.number }}</h4>
                            <h4>{{ magazine.pub_date }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'detail' pk=magazine.pk %}" class="btn btn-primary btn-sm" role="button">View Comments</a>
                        </div>

                    </div>
                </div>

            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
</body>
</html>
